<!DOCTYPE html>
<html>
  <head>
    <title>GithubLeague</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'pivotal-ui-rails' %>
    <%= javascript_include_tag 'pivotal-ui' %>
  </head>
  <body>
    <div class="phxl pvm bg-glow">
      <h2 class="type-neutral-11">
        <span>GitHub</span>
        <span class="em-max">League</span>
      </h1>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="paxl">
      <%= yield %>
    </div>

  </body>
</html>
