<!DOCTYPE html>
<html>
  <head>
    <title>GithubLeague</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'pivotal-ui-rails' %>
    <%= javascript_include_tag 'pivotal-ui' %>
  </head>
  <body>
    <div class="pane bg-glow">
      <div class="container pan">
        <div class="row">
          <div class="col-sm-16 txt-l">
            <div class="h3 type-neutral-11 txt-l">
              <span>GitHub</span>
              <span class="em-max">League</span>
            </div>
          </div>
          <div class="paxl col-sm-8 txt-r">
            <div class="type-neutral-11">
              <%- if @current_github_user %>
                <%= @current_github_user.name %> (<%= @current_github_user.nickname %>) / <%= link_to "Sign out", signout_path, class: "link-inverse" %>
              <%- else %>
                <%= link_to "Sign in with Github", "/auth/github", class: "link-inverse" %>
              <%- end %>
            </div>
          </div>
        </div>
      </div>

    </div>

    <%- if notice.present? %>
      <div class="alert alert-success">
        <p class="em-high"><%= notice %></p>
      </div>
    <%- end %>

    <%- if alert.present? %>
      <div class="alert alert-error">
        <p class="em-high"><%= alert %></p>
      </div>
    <%- end %>

    <div class="paxl">
      <%= yield %>
    </div>

  </body>
</html>
